  .perspective {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .perspective--modalview {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px;
  }
  
  .container {
    position: relative;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
    transform: translateZ(0) translateX(0) rotateY(0deg);
    min-height: 100%;
    outline: 30px solid $highlight;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
  }
  
  .modalview .container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .effect-rotate-left .container {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
  }
  
  .effect-rotate-left--animate .container {
    -webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    outline: 30px solid $highlight;
  }
  
  .outer-nav {
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    visibility: hidden;
    -webkit-transition: visibility 0s .2s;
    transition: visibility 0s .2s;
  
    &.is-vis {
      visibility: visible;
    }
  }
  
  .outer-nav--return {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 11;
  
    &.is-vis {
      display: block;
    }
  }
  
  .outer-nav {
    > li {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateX(350px) translateZ(-1000px);
      transform: translateX(350px) translateZ(-1000px);
      font-size: 35px;
      font-weight: 900;
      opacity: 0;
      cursor: pointer;
      -webkit-transition: opacity .2s,-webkit-transform .2s;
      transition: opacity .2s,-webkit-transform .2s;
      transition: transform .2s,opacity .2s;
      transition: transform .2s,opacity .2s,-webkit-transform .2s;
  
      &.is-vis {
        -webkit-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0);
        opacity: 1;
        -webkit-transition: opacity .4s,-webkit-transform .4s;
        transition: opacity .4s,-webkit-transform .4s;
        transition: transform .4s,opacity .4s;
        transition: transform .4s,opacity .4s,-webkit-transform .4s;
      }
  
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -25%);
        transform: translate(-50%, -25%);
        width: 20%;
        height: 5px;
        opacity: 0;
        background-color: $highlight;
      }
  
      &.is-active::before {
        opacity: 1;
      }
    }
  
    li.is-vis {
      &:nth-child(2) {
        -webkit-transition-delay: .04s;
        transition-delay: .04s;
      }
  
      &:nth-child(3) {
        -webkit-transition-delay: .08s;
        transition-delay: .08s;
      }
  
      &:nth-child(4) {
        -webkit-transition-delay: .12s;
        transition-delay: .12s;
      }
  
      &:nth-child(5) {
        -webkit-transition-delay: .16s;
        transition-delay: .16s;
      }
    }
  }
  
  @media (max-width: 767px) {
    .outer-nav > li {
      font-size: 44px;
    }
  }
  
  @media (max-width: 600px) {
    .outer-nav > li {
      font-size: 34px;
    }
  }