  .section {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s ease-in-out,visibility 0s .4s;
    transition: opacity .4s ease-in-out,visibility 0s .4s;
  }
  
  .section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity .4s ease-in-out .4s;
    transition: opacity .4s ease-in-out .4s;
  }
  
  .section--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  }
  
  .section--prev {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  }