.section-inside.ux{
  background-color: $muted-gray;
  .ux-ui-design{
    top: 60px;
    .work-container .each-work img{
      z-index: 0;
    }
  }

  hr {
    margin-top: 120px;
    width: 80%;
}

}

.side-bar-sec {
  width: 400px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  right: 100px;
  bottom: -150px;
}

.work-header {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  h1{
    display: flex;
    font-family: $header-font;
    font-size: 72px;
    line-height: 82px;
    position: absolute;
    color: $black;
    z-index: 10;
  }

  .img-container{
    max-width: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80%;

    img {
      width: 100%;
      height: 60vh;
      object-fit: cover;
    }

    &:before{
      content: "";
      display: block;
      position: absolute;
      max-width: 80%;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }


  }


}


